body {
  margin: 0;
  background-color: #f0f0f0;
  color: #292f36;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif; */
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: calc(100vw - 200px);
  margin: 40px auto 0;
}

.List__Container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.List {
  min-width: 300px;
  margin-bottom: 40px;
}

.List ul {
  margin-block-start: 0px;
  padding-inline-start: 30px;
}

.List li {
  position: relative;
  display: flex;
  width: 175px;
  margin: 15px 0;
  font-size: 20px;
  list-style-type: none;
  justify-content: space-between;
}

.List li p {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  cursor: pointer;
}

.List li p:before {
  content: "";
  display: block;
  background-size: 20px 20px;
  position: absolute;
  left: -30px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #db5461;
}

.List .checked p {
  text-decoration: line-through;
}

.List .checked p:before {
  background-image: url("./assets/checkmark.svg");
}

.List li .delete-btn {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("./assets/delete.svg");
  background-size: contain;
  border: 0;
  cursor: pointer;
}

.List .Produce li p:before {
  background-color: #79db6e;
}

.List .Meat li p:before {
  background-color: #f25e4d;
}

.List .Bakery li p:before {
  background-color: #fbaf33;
}

.List .Canned li p:before {
  background-color: #c465f1;
}

.List .Dairy li p:before {
  background-color: #29ddf5;
}

.List .Frozen li p:before {
  background-color: #658df1;
}

.List .Non-Foods li p:before {
  background-color: #e8de08;
}
